.main_cont_icon {
  display: flex;
  align-items: center;
  width: fit-content;
  /* transition: padding 600ms ease-in-out; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 71%);
}
@media (min-width: 1024px) {
  .main_cont_icon:hover {
    background-color: #335175;
    padding-inline-end: 2rem;
    transition: all 50ms;
    transition-delay: 0s !important;
  }

  .main_cont_icon:hover h2,
  .main_cont_icon:hover p {
    color: #fff;
  }
  .main_cont_icon:hover p {
    border-right-color: var(--main-red);
  }
}
@media (max-width: 1024px) {
  .main_cont_icon h2 {
    display: none;
  }
  .main_cont_icon p {
    border-right: 0;
    margin: 0;
    padding: 0;
  }
  .main_cont_icon .num_span {
    display: none;
  }
  /* .main_cont_icon:hover {
    gap: 16px;

  }
  .main_cont_icon:hover {
    gap: 8px;
  } */
}
