.main_cont_icon {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: gap 300ms ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 71%);
}
.main_cont_icon:hover {
  background-color: var(--main-red);
}
.main_cont_icon:hover h2,
.main_cont_icon:hover p {
  color: #fff;
}
@media (max-width: 1024px) {
  .main_cont_icon:hover h2 {
    max-width: 200px; /* Adjust this based on the text size */
    opacity: 1;
  }
  .main_cont_icon h2 {
    opacity: 0;
    max-width: 0; /* Use max-width instead of width */
    overflow: hidden;
    transition: max-width 300ms ease-in-out, opacity 300ms ease-in-out;
    white-space: nowrap;
  }
  .main_cont_icon:hover {
    gap: 16px; /* This will now transition properly */
  }
  .main_cont_icon:hover {
    gap: 8px;
  }
}
