.links_list {
  width: 860px;
}
@media (max-width: 1245px) {
  .links_list {
    width: 780px;
    padding: 1rem 2rem;
  }
}
.links_list a:hover {
  color: var(--main-red);
  transition: all 0.5s;
}
@media (max-width: 1140px) {
  .links,
  .roundLink {
    display: none;
  }
  .main_header {
    width: 100%;
    top: 0;
  }
  .controls {
    border-radius: 0;
  }
  .menuIcon {
    display: block;
  }
}
