@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-inter: Inter, sans-serif;
  --spacing: 4px; /* Adjust as needed */
  --main-red: #ba1514;
  --dark-red: #730404;
  --main-blue: #100e79;
  --dark-blue: #07063f;
  --text-color: #475467;
  --review-active-color: #e3f2fd;
  --review-semilight-color: #d3eafc;
  --review-semidark-color: #c1e1fc;
  --review-dark-color: #aed9fa;
  --review-title-color: #263238;
  --placeholder-text-color: #667085;
  --label-form-color: #344054;
  --border-inputs-color: #d0d5dd;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
}

button {
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}
input {
  border-color: var(--border-inputs-color);
}
.form-control {
  width: 100% !important;
  height: 45px !important;
  color: var(--placeholder-text-color);
  font-size: 1rem !important;
  font-weight: 400;
  border-radius: 8px !important;
}
.selected-flag,
.flag-dropdown {
  border-radius: 8px 0 0 8px !important;
  background-color: white;
}
.swiper {
  max-width: 100%;
}
.custom-5-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limits to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}