@import "tailwindcss";

:root {
  --font-inter: Inter, sans-serif;

  --spacing: 4px; /* Adjust as needed */
  --main-red: #ba1514;
  --dark-red: #730404;
  --main-blue: #100e79;
  --dark-blue: #07063f;
  --text-color: #475467;
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif !important;
}

button {
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}
