.corner_1 {
  width: 18px;
  height: 18px;
  background-color: var(--main-red);
  box-shadow: 3px -5px white;
  border-top-right-radius: 19px;
  position: absolute;
  top: 0px;
  z-index: 9;
  left: 17px;
}
.corner_2 {
  width: 18px;
  height: 18px;
  background-color: var(--main-red);
  box-shadow: -3px -7px white;
  border-top-left-radius: 16px;
  position: absolute;
  top: 0px;
  z-index: 9;
  left: 110px;
}
