.footer_container {
  margin-top: -130px;
  clip-path: polygon(
    50% 20%,
    50% 20%,
    100% 0,
    100% 100%,
    70% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}
@media (max-width: 1024px) {
  .footer_container {
    clip-path: polygon(
      44% 10%,
      54% 10%,
      100% 0,
      100% 100%,
      70% 100%,
      30% 100%,
      0 100%,
      0 0
    );
  }
}
